/* Media Controls Extension - Compact Clean UI */

/* Icon styles */
.colored-icon {
    -st-icon-style: requested;
}

.symbolic-icon {
    -st-icon-style: symbolic;
}

/* Utility classes */
.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0;
}

/* Panel button */
.panel-button {
    padding-left: 4px;
    padding-right: 4px;
}

.panel-button-box > * {
    padding-left: 4px;
    padding-right: 4px;
}

.panel-button-box > *:last-child:not(.controls-box) {
    padding-left: 4px;
    padding-right: 4px;
}

/* Panel controls */
.panel-controls-box {
    padding-left: 0px;
    padding-right: 0px;
}

.panel-controls-box > * {
    padding-left: 4px;
    padding-right: 4px;
}

/* Popup menu - reduced padding */
.popup-menu-container {
    padding: 8px;
    min-width: 256px;
    max-width: 256px;
}

.popup-menu-box {
    border-width: 0px;
}

.popup-menu-box > * {
    margin-top: 4px;
    margin-bottom: 4px;
}

/* Player icons/tabs */
.popup-menu-player-icons {
    margin-top: 4px;
    border-radius: 6px;
}

.popup-menu-player-icons-icon {
    padding: 4px;
    background-color: rgba(0, 0, 0, 0.125);
    transition-property: background-color;
    transition-duration: 150ms;
}

.popup-menu-player-icons-icon-last {
    border-radius: 0px 6px 6px 0px;
}

.popup-menu-player-icons-icon-first {
    border-radius: 6px 0px 0px 6px;
}

.popup-menu-player-icons-icon:hover {
    background-color: rgba(160, 160, 160, 0.25);
}

.popup-menu-player-icons-icon-active {
    background-color: rgba(160, 160, 160, 0.25);
}

/* Labels */
.popup-menu-player-label {
    font-size: small;
    margin-right: 4px;
    margin-left: 4px;
}

.popup-menu-label-title {
    font-size: large;
}

/* Control buttons */
.popup-menu-control-icon {
    padding: 4px;
    border-radius: 99px;
    transition-property: background-color;
    transition-duration: 150ms;
}

.popup-menu-control-icon:hover {
    background-color: rgba(160, 160, 160, 0.25);
}

/* Album art container */
.popup-menu-album-art {
    border-radius: 6px;
    margin-left: auto;
    margin-right: auto;
}